.thumbnail {
  margin-top: 64px;
  width: calc(16.66667% - 32px);
  flex: 0 0 auto;
  margin-left: 32px;
}

.thumbnail-content {
  max-width: 75%;
  padding-left: 2px;
}

.thumbnail-link {
  text-align: left;
  line-height: normal;
  position: relative;
  cursor: pointer;
}
.thumbnail-link > img {
  min-height: inherit;
  background-color: transparent;
  height: 239px;
}

.thumbnail-link > img {
  min-height: inherit;
  background-color: transparent;
  height: 239px;
  opacity: 1;
  border-radius: 2px;
  position: relative;
  margin-bottom: 12px;
  z-index: 0;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.thumbnail-link > img:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.thumbnail-title {
  color: #1e323d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: -0.025rem;
  margin: 0;
}

.thumbnail-date {
  white-space: normal;
  font-size: 0.75rem;
  line-height: 1.3125rem;
  letter-spacing: -0.0125rem;
  color: #536067;
  margin: 0;
}
