.main-content {
  padding-bottom: 100px;
}

.main-content-grid {
  align-items: center;
  background-color: var(--cafeyn-bcg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1274px;
  padding: 0 32px 0 0;
}
