@font-face {
  font-family: "Soleil";
  src: url("../assets/fonts/Soleil_Regular.ttf");
}
@font-face {
  font-family: "Soleil-bold";
  src: url("../assets/fonts/Soleil_Bold.ttf");
}
@font-face {
  font-family: "Soleil-light";
  src: url("../assets/fonts/Soleil_Bold.ttf");
}

:root {
  --cafeyn-bcg-color: white;
  --cafeyn-border-color: #ececec;
  --cafeyn-grey-color: #536067;
  --cafeyn-loginRegister-color: #fedc84;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#main-section {
  background-color: var(--cafeyn-bcg-color);
  margin-top: 81px;
  min-height: calc(-51px + 100vh);
}

.App-Root {
  box-sizing: border-box;
  font-family: "Soleil";
  margin: 0;
}

.hightLight-content {
  background-color: rgba(22, 23, 31, 0);
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-out;
  width: 100%;
  z-index: 10000;
}
