#main-nav {
  transition: width 0.5s ease-out;
  background-color: #fff;
  border-bottom: 1px solid var(--cafeyn-border-color);
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 110px;
  padding-right: 10px;
}

.main-nav-content {
  width: 100%;
  max-width: 1258px;
  padding: 16px 24px;
  background-color: #fff;
  list-style: none;
  margin: 0 30px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-between;
}

.main-nav-content > a:nth-child(1):hover > .main-nav-item-text {
  color: rgb(29, 115, 164);
}
.main-nav-content > a:nth-child(1):hover > .main-nav-item-bg {
  background-color: rgb(29, 115, 164);
  opacity: 0.08;
  height: 38px;
  border-radius: 4px;
}
/* .main-nav-content > span:nth-child(1):hover {
  background-color: rgb(29, 115, 164);
  height: 38px;
   position: absolute;
  top: 0;
  left: 0; 
opacity: 0.08;
  border-radius: 4px;
}  */

.main-nav-item {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 8px 0;
  flex: 1 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.125rem;
  letter-spacing: 0.03125rem;
  color: var(--cafeyn-grey-color);
  font-family: Soleil-bold, Helvetica, sans-serif;
}

/* .main-nav-item:nth-child(1):hover {
  color: red;
  background-color: green;
} */

#main-nav-active {
  transition: width 0.5s ease-out;
  background-color: #fff;
  border-bottom: 1px solid var(--cafeyn-border-color);
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 10px;
  padding-right: 10px;
}
