#main-nav {
  transition: width 0.5s ease-out;
  background-color: #fff;
  border-bottom: 1px solid var(--cafeyn-border-color);
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 110px;
  padding-right: 10px;
}

.main-nav-content {
  width: 100%;
  max-width: 1258px;
  padding: 16px 24px;
  background-color: #fff;
  list-style: none;
  margin: 0 30px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-between;
}

.main-nav-content > a:nth-child(1):hover > .main-nav-item-text {
  color: rgb(29, 115, 164);
}
.main-nav-content > a:nth-child(1):hover > .main-nav-item-bg {
  background-color: rgb(29, 115, 164);
}
.main-nav-content > a:nth-child(2):hover > .main-nav-item-text {
  color: rgb(103, 131, 155);
}
.main-nav-content > a:nth-child(2):hover > .main-nav-item-bg {
  background-color: rgb(103, 131, 155);
}
.main-nav-content > a:nth-child(3):hover > .main-nav-item-text {
  color: rgb(89, 170, 199);
}
.main-nav-content > a:nth-child(3):hover > .main-nav-item-bg {
  background-color: rgb(89, 170, 199);
}
.main-nav-content > a:nth-child(4):hover > .main-nav-item-text {
  color: rgb(239, 154, 154);
}
.main-nav-content > a:nth-child(4):hover > .main-nav-item-bg {
  background-color: rgb(239, 154, 154);
}
.main-nav-content > a:nth-child(5):hover > .main-nav-item-text {
  color: rgb(136, 201, 195);
}
.main-nav-content > a:nth-child(5):hover > .main-nav-item-bg {
  background-color: rgb(136, 201, 195);
}
.main-nav-content > a:nth-child(6):hover > .main-nav-item-text {
  color: rgb(106, 89, 106);
}
.main-nav-content > a:nth-child(6):hover > .main-nav-item-bg {
  background-color: rgb(106, 89, 106);
}
.main-nav-content > a:nth-child(7):hover > .main-nav-item-text {
  color: rgb(183, 105, 76);
}
.main-nav-content > a:nth-child(7):hover > .main-nav-item-bg {
  background-color: rgb(183, 105, 76);
}
.main-nav-content > a:nth-child(8):hover > .main-nav-item-text {
  color: rgb(139, 26, 46);
}
.main-nav-content > a:nth-child(8):hover > .main-nav-item-bg {
  background-color: rgb(139, 26, 46);
}

.main-nav-item-bg {
  width: 100%;
  display: block;
  height: 38px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.08;
  border-radius: 4px;
}

.main-nav-item {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 8px 0;
  flex: 1 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.125rem;
  letter-spacing: 0.03125rem;
  color: var(--cafeyn-grey-color);
  font-family: Soleil-bold, Helvetica, sans-serif;
}

#main-nav-active {
  transition: width 0.5s ease-out;
  background-color: #fff;
  border-bottom: 1px solid var(--cafeyn-border-color);
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0px;
  padding-right: 10px;
}
